html,
body {
  font-family: sans-serif;
}

h3,
p {
  padding: 0;
  margin: 0 0 10px;
}

button {
  margin: 0 0 10px;
}

.box {
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.red {
  border-color: red;
}

.siblings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
